<!DOCTYPE html>
<html>
<head>
    <title>Регистрация</title>
</head>
<body>
    <h1>Регистрация</h1>
    <form action="/register" method="POST">
        <label for="username">Логин:</label>
        <input type="text" id="username" name="username" required><br><br>

        <label for="password">Пароль:</label>
        <input type="password" id="password" name="password" required><br><br>

        <label for="role">Роль:</label>
        <select id="role" name="role" required>
            <option value="Преподаватель">Преподаватель</option>
            <option value="Студент">Студент</option>
        </select><br><br>

        <input type="submit" value="Зарегистрироваться">
    </form>
</body>
</html>